# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
# Mac crap
.DS_Store

#Unity specific stuff that doesn't need to be synced
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj

# directories
/Campus Survival/Library/FailedAssetImports.txt
/Campus Survival/Library/cache/
/Campus Survival/Library/metadata/
/Campus Survival/Library/previews/
/Campus Survival/Library/ScriptAssemblies
/Campus Survival/obj
/Campus Survival/Temp
/Campus Survival/cs001.app
